<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/weui-diy-blys.css}"
          data-th-href="@{/resources/css/weui-diy-blys.css}"/>
    <script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
    <title></title>
</head>
<body style="background-color:#efeff4">
<p><img th:src="@{/resources/images/sdgrew.jpg}" style="width:100%; display:block"/></p>
<div class="weui_cells" style="margin-top:0px;">
    <div class="weui_cell">
        <p class="f-fleft"><img class="imgsize" th:src="@{/resources/images/jjjfff.png}"/>
            <i style="font-size:12px">我的积分<span class="col" style="text-decoration:underline"
                                                th:text="${points}">4300</span></i>
        </p>
        <p class="f-frighttwo"><a th:href="@{/sapservice/myExchangeRecord}" style="color:red"><i style="font-size:12px">我的兑换</i></a></p>
    </div>
</div>
<div class="weui_navbar bn" style="z-index:12; position:relative;">
    <a class="level_bn weui_navbar_item weui_bar_item_on">1200积分</a>
    <a class="level_bn weui_navbar_item">2200积分</a>
    <a class="level_bn weui_navbar_item">3200积分</a>
    <a class="level_bn weui_navbar_item">5000积分</a>
</div>


<div class="cont-zhbox">
    <div class="activity level_1200">
        <div class="cont-zhbox-t" th:each="activity1 : ${level1200ActivityList}">
            <a href="javascript:void(0)"
               th:href="@{/sapservice/toExchange(level=1,meal=${activity1.activityLevel.getCode()})}" class="bz">
                <div class="cont-zhbox-img">
                    <img th:src="@{/resources/images/CgMBmVOOY3SAArHEAANAIV0Z2xg29200.jpg}" style="width:100%"/>
                    <p class="cont-zhbox-nav" style="margin-bottom:0px">我要兑换</p>
                </div>
            </a>
        </div>
    </div>

    <div class="activity level_2200" style="display: none">
        <div class="cont-zhbox-t" th:each="activity2 : ${level2200ActivityList}">
            <a th:href="@{/sapservice/toExchange(level=2,meal=${activity2.activityLevel.getCode()})}" class="bz">
                <div class="cont-zhbox-img">
                    <img th:src="@{/resources/images/14108328872969.jpg}" style="width:100%"/>
                    <p class="cont-zhbox-nav" style="margin-bottom:0px">我要兑换</p>
                </div>
            </a>
        </div>
    </div>

    <div class="activity level_3200" style="display: none">
        <div class="cont-zhbox-t" th:each="activity3 : ${level3200ActivityList}">
            <a th:href="@{/sapservice/toExchange(level=3,meal=${activity3.activityLevel.getCode()})}" class="bz">
                <div class="cont-zhbox-img">
                    <img th:src="@{/resources/images/jjjfff.png}" style="width:100%"/>
                    <p class="cont-zhbox-nav" style="margin-bottom:0px">我要兑换</p>
                </div>
            </a>
        </div>
    </div>

    <div class="activity level_5000" style="display: none">
        <div class="cont-zhbox-t" th:each="activity4 : ${level5000ActivityList}">
            <a th:href="@{/sapservice/toExchange(level=4,meal=${activity4.activityLevel.getCode()})}" class="bz">
                <div class="cont-zhbox-img">
                    <img th:src="@{/resources/images/sdgrew.jpg}" style="width:100%"/>
                    <p class="cont-zhbox-nav" style="margin-bottom:0px">我要兑换</p>
                </div>
            </a>
        </div>
    </div>


    <p style="text-align:center; font-size:12px; color:#ccc; margin-top:4px">2016-10-10 10:00</p>

    <!--<div class="cont-zhbox-t">-->
        <!--<a href="#" class="bz">-->
            <!--<div class="cont-zhbox-img">-->
                <!--<img th:src="@{/resources/images/14108328872969.jpg}" style="width:100%"/>-->
                <!--<p class="cont-zhbox-nav" style="margin-bottom:0px">我要兑换</p>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
</div>

<div>

</div>


<!--<div class="weui-infinite-scroll">-->
<!--<div class="infinite-preloader"></div>&lt;!&ndash; 菊花 &ndash;&gt;-->
<!--正在加载... &lt;!&ndash; 文案，可以自行修改 &ndash;&gt;-->
<!--</div>-->

<script>
    $(document).ready(function(){
        $(".level_bn").click(function(){
            $(this).addClass("weui_bar_item_on");
            $(this).siblings().removeClass("weui_bar_item_on");
            var index = $(".weui_navbar > a").index($(this));
            $(".cont-zhbox > .activity ").eq(index).show().siblings().hide();
        })
    });
</script>

</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>

