<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/weui-diy-blys.css}"
          data-th-href="@{/resources/css/weui-diy-blys.css}" />
    <link rel="stylesheet" type="text/css" href="./resources/css/weui.min-dd-diy.css"
          th:href="@{/resources/css/weui.min-dd-diy.css}"
          data-th-href="@{/resources/css/weui.min-dd-diy.css}"/>
    <title>套餐详情</title>
</head>


<body style="background-color:#efeff4;">
<input type="hidden" id="meal" th:value="${activity.activityLevel.getCode()}"/>
<input type="hidden" id="open_id" th:value="${openId}"/>
<input type="hidden" id="level" th:value="${level}"/>
<input type="hidden" id="imgName" th:value="${activity.imgName}"/>
<input type="hidden" id="activity_points" th:value="${activity.points}" />

<div style="position:fixed; bottom:0px;left:0px;right:0px; z-index:999">
    <div style="padding:10px 10px; background-color:#fff; font-size:13px;">
        <span style="float:left; line-height:30px">兑换所需积分:<span style="color:red" id="need_points" th:text="${activity.points}">1200</span></span>

        <a href="javascript:void(0)" id="add_shop_cart"><span
                style="margin:0 3px;float:right; background-color:#ff9402; color:#fff; font-size:14px; border-radius:4px; padding:4px 8px;">加入购物车</span></a>
        <a th:if="${enableExchange==1}" href="#" id="show-custom-duihuan"><span
                style="margin:0 3px;float:right; background-color:#00B738; color:#fff; font-size:14px; border-radius:4px; padding:4px 8px;">我要兑换</span></a>
        <span th:if="${enableExchange==0}"
              style="margin:0 3px;float:right; background-color:#FF0000; color:#fff; font-size:14px; border-radius:4px; padding:4px 8px;">积分不足</span>
        <p style="clear:both"></p>
    </div>
</div>


<p><img th:src="${activity.imgName}" style="width:100%; display:block"/></p>


<div class="weui_cells weui_cells_form" style="color:#333; margin-top:0px">
    <div class="weui_cell">
        <div class="weui_cell_hd" style="padding-right: 30%;"><label class="weui_label" style="font-size:14px">数量</label></div>
        <div class="weui_cell_bd weui_cell_primary" style="float: right; margin-top: -6px">
            <!--<span style="text-align:right; display:block; color:#999">x1</span>-->
            <div class="edit-quantity" style="">
            <p class="btn-minus">
                <a class="btn minus off"></a>
            </p>
            <p class="btn-input">
                <input class="level_num" type="tel" max="151" min="1" value="1"  />
            </p>
            <p class="btn-plus">
                <a class="btn plus" max="151"></a>
            </p>
            <!--<p style="padding:15%">&nbsp;</p>-->
            </div>

        </div>
    </div>


    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd h weui_cell_primary" style="font-size:14px">
            <select class="weui_select mnb" name="select1" id="select_province">
                <option selected="" value="0">请选择所在省份</option>
                <option th:value="${province}" th:each=" province : ${provinces}"><span th:text="${province}"></span>
                </option>
                <option value="0731004S">xxxx</option>
            </select>
        </div>
    </div>

    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd h weui_cell_primary" style="font-size:14px">
            <select class="weui_select mnb" name="select1" id="select_city">
                <option selected="" value="0">请选择所在城市</option>
                <option th:value="${city}" th:each=" city : ${citys}"><span th:text="${city}"></span></option>
                <option value="0731004S">xxxx</option>
            </select>
        </div>
    </div>

    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd h weui_cell_primary" style="font-size:14px">
            <select class="weui_select mnb" name="select1" id="select_shop">
                <option selected="" value="0">请选择兑换门店</option>
                <option th:value="${name}" th:each=" name : ${shopNames}"><span th:text="${name}"></span></option>
                <option value="0731004S">xxxx</option>
            </select>
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd" ><label class="weui_label" style="font-size:14px;width: 100%">门店地址: <span id="shop_addr"></span></label></div>
    </div>


</div>

<div style="height:55px; clear:both"></div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="application/javascript" data-th-inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {

        $("#select_province").on("change", function () {
            var province = $(this).val();
            $.ajax({
                url: "/sapservice/changeProvince",
                type: "get",
                data: {"provinceName": province},
                success: function (resp) {
                    var list = resp.data;
                    var options = "<option value=0>请选择所在城市</option>";
                    for (var i = 0; i < list.length; i++) {
                        options += "<option value='" + list[i] + "'>" + list[i] + "</option>";
                    }
                    $("#select_city").html(options);
                }
            });
        });

        function changeShop(city) {
            $.ajax({
                url: "/sapservice/changeCity",
                type: "get",
                data: {"cityName": city},
                success: function (resp) {
                    var list = resp.data;
                    var options = "<option value=0>请选择兑换门店</option>";
                    for (var i = 0; i < list.length; i++) {
                        options += "<option value='" + list[i].shopCode +"' data-addr='"+list[i].shopAddr + "'>" + list[i].shopName + "</option>";
                    }
                    $("#select_shop").html(options);
                }
            });
        }

        $("#select_city").on("change", function () {
            var city = $(this).val();
            changeShop(city);
        });

        $("#select_shop").on("change",function(){
           var shopAddr = $("#select_shop option:selected").attr("data-addr");
            console.log(shopAddr);
            $("#shop_addr").text(shopAddr);
        });

        $("#add_shop_cart").click(function(){
            var openId = $("#open_id").val();
            var level = $("#meal").val();
            var num = $(".level_num").val();

            $.ajax({
                url:"/sapservice/addToShopCar",
                type:"post",
                data:{"openId":openId,"level":level,"flag":1,"num":num},
                success:function(resp){
                    $.modal({
                        title: "",
                        text: "已添加至购物车",
                        buttons: [
                            {
                                text: "再逛逛",className: "default"
                            },

                            {
                                text: "去兑换", onClick:function(){
                                window.location.href="/sapservice/myShopCar?openId="+openId;
                            }
                            },
                        ]
                    });
                },
                error:function(resp){

                }
            })


        });



        $(".btn-minus").click(function () {
            var num = parseInt($(".level_num").val());
            if(num <= 1){

            } else{
                $(".level_num").val(num-1);

                var points = $("#need_points").text() - $("#activity_points").val();
                $("#need_points").text(points);
            }
        });

        $(".btn-plus").click(function () {
            var num = parseInt($(".level_num").val());
            $(".level_num").val(num+1);

            var points = parseInt($("#need_points").text()) + parseInt($("#activity_points").val());

            $("#need_points").text(points);
        });


    });
    $(document).on("click", "#show-custom-duihuan", function () {

        var provinceVal = $("#select_province option:selected").val();
        var cityVal = $("#select_city option:selected").val();
        var shopVal = $("#select_shop option:selected").val();

        if(provinceVal== 0 || cityVal== 0 || shopVal==0){
            $.alert("请选择省市及兑换门店");
            return;
        }


        var isFirstExchange = /*[[${isFirstExchange}]]*/;
        var title = /*[[${activity.activityLevel.getName()}]]*/ ;
        var isBenefit = /*[[${isBenefit}]]*/;

        var text = "";
        if (isBenefit == 0) {// 不优惠
            text = "本次兑换将扣除您" + /*[[${activity.points}]]*/ +"积分,确定兑换吗?";
        } else {// 优惠200积分
            text = "本次兑换只扣除您" + /*[[${activity.points-200}]]*/ +"积分,确定兑换吗?";
        }


        $.modal({
            title: title,
            text: text,
            buttons: [
                {
                    text: "确定兑换", onClick: function () {
                    var openId = $("#open_id").val();
                    var level = [$("#meal").val()];
                    var counterCode = $("#select_shop option:selected").val();
                    var shopName = $("#select_shop option:selected").text();
                    var shopAddr = $("#select_shop option:selected").attr("data-addr");
                    var points = /*[[${activity.points}]]*/;
                    var imgUrl = [$("#imgName").val()];
                    var num = [$(".level_num").val()];
                    $.ajax({
                        url: "/sapservice/exchange",
                        type: "post",
                        data: {"level": level,"num":num,"points": points, "counterCode": counterCode,
                            "shopName":shopName,"shopAddr":shopAddr,"openId":openId},
                        success: function (resp) {
                            if (resp.resultCode == 200) {
                                window.location.href = "/sapservice/toSuccess?shopName=" + shopName +
                                        "&shopAddr="+shopAddr+
                                        "&imgUrl="+imgUrl+"&num="+num;
                            } else {
                                $.alert(resp.resultMsg);
                            }
                        },
                        error: function (resp) {

                        }
                    })
                }
                },

                {text: "放弃兑换", className: "default"},
            ]
        });
    });
    /*]]>*/
</script>