<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/weui-diy-blys.css}"
          data-th-href="@{/resources/css/weui-diy-blys.css}" />
    <title></title>
</head>


<body style="background-color:#efeff4;">
<input type="hidden" id="meal" th:value="${activity.activityLevel.getCode()}"/>
<input type="hidden" id="open_id" th:value="${openId}"/>
<input type="hidden" id="level" th:value="${level}"/>

<div style="position:fixed; bottom:0px;left:0px;right:0px; z-index:999">
    <div style="padding:10px 10px; background-color:#fff; font-size:13px;">
        <span style="float:left; line-height:30px">兑换所需积分:<span style="color:red"
                                                                th:text="${activity.points}">1200积分</span></span>
        <a th:if="${enableExchange==1}" href="#" id="show-custom-duihuan"><span
                style="float:right; background-color:#00B738; color:#fff; font-size:14px; border-radius:4px; padding:4px 8px;">我要兑换</span></a>
        <span th:if="${enableExchange==0}"
              style="float:right; background-color:#FF0000; color:#fff; font-size:14px; border-radius:4px; padding:4px 8px;">积分不足</span>
        <p style="clear:both"></p>
    </div>
</div>


<p><img th:src="@{/resources/images/CgMBmVOOY3SAArHEAANAIV0Z2xg29200.jpg}" style="width:100%; display:block"/></p>


<div class="weui_cells weui_cells_form" style="color:#333; margin-top:0px">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" style="font-size:14px">数量</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <span style="text-align:right; display:block; color:#999">x1</span>
        </div>
    </div>


    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd h weui_cell_primary" style="font-size:14px">
            <select class="weui_select mnb" name="select1" id="select_province">
                <option selected="" value="0">请选择所在省份</option>
                <option th:value="${province}" th:each=" province : ${provinces}"><span th:text="${province}"></span>
                </option>
                <option value="0731004S">xxxx</option>
            </select>
        </div>
    </div>

    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd h weui_cell_primary" style="font-size:14px">
            <select class="weui_select mnb" name="select1" id="select_city">
                <option selected="" value="0">请选择所在城市</option>
                <option th:value="${city}" th:each=" city : ${citys}"><span th:text="${city}"></span></option>
                <option value="0731004S">xxxx</option>
            </select>
        </div>
    </div>

    <div class="weui_cell weui_cell_select">
        <div class="weui_cell_bd h weui_cell_primary" style="font-size:14px">
            <select class="weui_select mnb" name="select1" id="select_shop">
                <option selected="" value="0">请选择兑换门店</option>
                <option th:value="${name}" th:each=" name : ${shopNames}"><span th:text="${name}"></span></option>
                <option value="0731004S">xxxx</option>
            </select>
        </div>
    </div>


</div>

<div style="height:55px; clear:both"></div>
</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>
<script type="application/javascript" data-th-inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {

        $("#select_province").on("change", function () {
            var province = $(this).val();
            $.ajax({
                url: "/sapservice/changeProvince",
                type: "get",
                data: {"provinceName": province},
                success: function (resp) {
                    var list = resp.data;
                    var options = "";
                    for (var i = 0; i < list.length; i++) {
                        options += "<option value='" + list[i] + "'>" + list[i] + "</option>";
                    }
                    $("#select_city").html(options);
                    var city = list[0];
                    changeShop(city);
                }
            });
        });

        function changeShop(city) {
            $.ajax({
                url: "/sapservice/changeCity",
                type: "get",
                data: {"cityName": city},
                success: function (resp) {
                    var list = resp.data;
                    var options = "";
                    for (var i = 0; i < list.length; i++) {
                        options += "<option value='" + list[i].shopCode +"' data-addr='"+list[i].shopAddr + "'>" + list[i].shopName + "</option>";
                    }
                    $("#select_shop").html(options);
                }
            });
        }

        $("#select_city").on("change", function () {
            var city = $(this).val();
            changeShop(city);
        });

    });
    $(document).on("click", "#show-custom-duihuan", function () {

        var isFirstExchange = /*[[${isFirstExchange}]]*/;

        var text = "";
        if (isFirstExchange == 0) {// 不是初次兑换
            text = "本次兑换只扣除您" + /*[[${activity.points}]]*/ +"积分确定兑换码?";
        } else {// 初次登录
            text = "初次兑换只扣除您" + /*[[${activity.points-200}]]*/ +"积分确定兑换码?";
        }


        $.modal({
            title: "套餐A",
            text: text,
            buttons: [
                {
                    text: "确定兑换", onClick: function () {
                    var openId = $("#open_id").val();
                    var level = $("#level").val();
                    var meal = $("#meal").val();
                    var counterCode = $("#select_shop option:selected").val();
                    var shopName = $("#select_shop option:selected").text();
                    var shopAddr = $("#select_shop option:selected").attr("data-addr");
                    var points = /*[[${activity.points}]]*/;
                    $.ajax({
                        url: "/sapservice/exchange",
                        type: "post",
                        data: {"level": level, "meal": meal, "points": points, "counterCode": counterCode,
                            "shopName":shopName,"shopAddr":shopAddr},
                        success: function (resp) {
                            if (resp.resultCode == 200) {
                                window.location.href = "/sapservice/toSuccess?shopName=" + shopName+"&shopAddr="+shopAddr;
                            } else {
                                alert(resp);
                            }
                        },
                        error: function (resp) {

                        }
                    })
                }
                },

                {text: "放弃兑换", className: "default"},
            ]
        });
    });
    /*]]>*/
</script>