<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/weui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/weui-diy-blys.css}"/>
    <title></title>
</head>
<body style="background-color:#efeff4">
<!--<p><img th:src="@{resources/images/sdgrew.jpg}" style="width:100%; display:block"/></p>-->
<div class="weui_cells" style="margin-top:0px;">
    <div class="weui_cell">
        <p class="f-fleft">
            <i style="font-size:12px">兑换记录</i>
        </p>
    </div>
</div>


<div class="cont-zhbox">

    <div th:each="record : ${exchangeRecords}">
        <div class="cont-zhbox-t">
            <a href="#" class="bz">
                <div class="cont-zhbox-img">
                    <img th:src="@{/resources/images/CgMBmVOOY3SAArHEAANAIV0Z2xg29200.jpg}" style="width:100%"/>
                    <p class="cont-zhbox-navs " style="margin-bottom:0px">已兑换</p>
                </div>
                <div style="font-size:14px; padding:4px 10px 0px 10px;">
                    <Span th:text="${record.shopName}">西湖银泰店</Span>
                    <span>|地址：<span th:text="${record.shopAddr}">地址</span></span>
                    <Span style="float:right">x1</Span>
                </div>
            </a>
        </div>
        <p style="text-align:center; font-size:12px; color:#ccc; margin-top:4px">2016-10-10 10:00</p>
    </div>
    <div th:if="${exchangeRecords.size()==0}">
        //TODO
    </div>
</div>

<div>

</div>


<!--<div class="weui-infinite-scroll">-->
<!--<div class="infinite-preloader"></div>&lt;!&ndash; 菊花 &ndash;&gt;-->
<!--正在加载... &lt;!&ndash; 文案，可以自行修改 &ndash;&gt;-->
<!--</div>-->

</body>
</html>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-weui/0.8.2/jquery-weui.min.js"></script>

